<!DOCTYPE html>
<html lange="en">
  <head>
    <title>RPKI Monitor</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A distributed DNS monitoring service">
    <meta name="keywords" content="dns, dnssec, monitoring, distributed, auditing">
    
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/handlebars-v4.0.5.js"></script>
    <script type="text/javascript" src="/javascripts/rpkiMonitorGui.js"></script>
    
  </head>

  <body>

    [% INCLUDE top.tt %]

    <div class="container mainbox">
      <div class="row">
	<div class="col-md-9" role="main">

	  <noscript>
	    This site requires that you enable JavaScript for full support.
	    Here are the <a href="http://www.enable-javascript.com/" target="_blank">
	    instructions how to enable JavaScript in your web browser</a>.
	  </noscript>

	  [% content %]
	</div>
	<div class="col-md-3 jumpto" role="nav">
	  <div class="panel panel-info">
	    <div class="panel-heading">Jump To</div>
	    <div class="panel-body">
	      <ul nav navbar-nav navbar-right>
		<li><a href="/rpki-rtr-client-monitor">The rpki client monitor</a></li>
		<li><a href="/rcynic-status">RCYNIC status</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    [% INCLUDE bottom.tt %]

    <script type="text/javascript">/* <![CDATA[ */
     !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
     /* ]]> */</script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
