<!DOCTYPE html>
<html lange="en">
  <head>
    <title>RPKI Monitor</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/screechowlbs.css">
    <link rel="shortcut icon" href="/favicon.ico">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A distributed DNS monitoring service">
    <meta name="keywords" content="dns, dnssec, monitoring, distributed, auditing">
    
    <script src="/js/screech-all.min.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>
    <script src="/js/timeline/timeline_ajax/simile-ajax-api.js?bundle=true" type="text/javascript"></script>
    <script src="/js/timeline/timeline_js/timeline-api.js?bundle=true" type="text/javascript"></script>
    
  </head>

  <body>

    [% INCLUDE top.tt %]

    <div class="container">
      <div class="row">
	<div class="col-md-12" role="main">

	  <noscript>
	    This site requires that you enable JavaScript for full support.
	    Here are the <a href="http://www.enable-javascript.com/" target="_blank">
	    instructions how to enable JavaScript in your web browser</a>.
	  </noscript>

	  [% content %]
	</div>
      </div>
    </div>

    [% INCLUDE bottom.tt %]

    <script type="text/javascript">/* <![CDATA[ */
     !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
     /* ]]> */</script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
