
<div class="panel panel-default">
  <div class="panel-heading">Places to go</div>
  <div class="panel-body">
    <ul>
      <li><a href="/rpki-rtr-client-monitor">The rpki client monitor</a></li>
      <li><a href="/rcynic-status">RCYNIC status</a></li>
    </ul>
  </div>
</div>
