.Yes {
    font-weight: bold;
    background-color: #ffdddd;
}

.No {
    font-weight: bold;
    background-color: #ddffdd;
}

.panel-heading {
    font-weight: bold;
    font-size: 1.25em;
}

.spacetop {
    margin-top: 2em;
}

.twocol td {
    width: 50%;
}

.mainbox {
    margin-top: 60px;
}
